POSTGRES_PASSWORD=GENERATE_ME
JWT_SECRET=GENERATE_ME
ANON_KEY=GENERATE_ME
SERVICE_ROLE_KEY=GENERATE_ME
SUPABASE_PUBLISHABLE_KEY=GENERATE_ME
SUPABASE_SECRET_KEY=GENERATE_ME
ANON_KEY_ASYMMETRIC=GENERATE_ME
SERVICE_ROLE_KEY_ASYMMETRIC=GENERATE_ME
JWT_KEYS=GENERATE_ME
PG_META_CRYPTO_KEY=GENERATE_ME

DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=GENERATE_ME
STUDIO_DEFAULT_ORGANIZATION=LangGraph
STUDIO_DEFAULT_PROJECT=Development

SUPABASE_PUBLIC_URL=http://192.168.100.2:8000
API_EXTERNAL_URL=http://192.168.100.2:8000/auth/v1
SITE_URL=http://localhost:8501
ADDITIONAL_REDIRECT_URLS=http://127.0.0.1:8501
API_GW_HTTP_PORT=8000
POSTGRES_HOST_PORT=5432
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
ENABLE_EMAIL_AUTOCONFIRM=true
